<div class="bg-[#161519] pt-20">
  <gifs-tags></gifs-tags>
</div>
<gifs-container [gifs]="allGifs"></gifs-container>

<p
  (click)="toggleUploadModal()"
  *ngIf="user"
  class="fixed bottom-4 right-4 text-white bg-cyan-600 p-4 rounded-md cursor-pointer hover:scale-105"
>
  Add Gif !
</p>

<div
  *ngIf="isLoginModalOpen"
  class="h-screen w-screen fixed top-0 z-50 backdrop-blur-md flex items-center justify-center "
  (click)="toggleLoginModal()"
>
  <div (click)="preventClosing($event)" class="w-1/2 bg-white rounded-md bg-cover bg-[url(https://i.pinimg.com/originals/95/1a/43/951a433c1470350b17898ed7154dcbf2.gif)]">
    <ng-template #registerModal>
      <register-modal></register-modal>
      <p
        (click)="toggleIsLoginAndRegister()"
        class="w-full text-right cursor-pointer mb-6 pr-6 text-white"
      >
        I have an account . . . Login!
      </p>
    </ng-template>

    <login-modal *ngIf="isLogging; else registerModal"> </login-modal>
    <p
      *ngIf="isLogging"
      (click)="toggleIsLoginAndRegister()"
      class="w-full text-right cursor-pointer mb-6 pr-6 text-white"
    >
      I don't have an account . . . Register!
    </p>
  </div>
</div>

<div
  class="h-screen w-screen fixed top-0 z-50 backdrop-blur-md flex items-center justify-center"
  *ngIf="isUploadModalOpen"
  (click)="toggleUploadModal()"
>
  <div
    (click)="preventClosing($event)"
    class="w-1/2 bg-[url(https://i.pinimg.com/originals/95/1a/43/951a433c1470350b17898ed7154dcbf2.gif)] bg-cover rounded-md"
  >
    <form
      class="h-full w-full p-6 flex flex-col gap-6"
      (ngSubmit)="submitUpload()"
      [formGroup]="uploadForm"
    >
      <p class="text-6xl text-center text-white">Upload Gif</p>
      <input
        type="text"
        placeholder="Title"
        class="w-full text-lg outline-none p-6 rounded-md bg-white/70"
        formControlName="title"
      />
      <input
        type="text"
        placeholder="Url"
        class="w-full text-lg outline-none p-6 rounded-md bg-white/70"
        formControlName="url"
      />
      <select formControlName="tag" class="p-6 rounded-md bg-white/70">
        <option value="dance">Dance</option>
        <option value="music">Music</option>
        <option value="art">Art</option>
        <option value="other">Other</option>
      </select>
      <button
        type="submit"
        class="py-2 px-4 mt-6 bg-cyan-600 text-white duration-200 rounded-md cursor-pointer"
      >
        Upload !
      </button>
    </form>
  </div>
</div>
