<div
  class="min-h-screen bg-[#161519] px-6 gap-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 ls:grid-cols-4 xl:grid-cols-6"
  *ngIf="gifs.length; else nothingFound"
>
  <gif-card *ngFor="let gif of gifs" [gif]="gif"></gif-card>
</div>

<ng-template #nothingFound>
  <div
    class="min-h-screen bg-[#161519] px-6 gap-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 ls:grid-cols-4 xl:grid-cols-6"
  >
    <div
      class="absolute top-0 bottom-0 right-0 left-0 m-auto w-1/2 h-1/2 flex items-center justify-center flex-col"
    >
      <img
        src="https://media2.giphy.com/media/X0QKGRNCxnwWs/giphy.gif?cid=6c09b9526tl5kbr9f8zo3iwayilkt8gb2p0mf7ka4jwvx20v&ep=v1_gifs_search&rid=giphy.gif&ct=g"
      />
      <p class="text-white mt-4 ">There is not any gif matching this search . . .</p>
    </div>
  </div>
</ng-template>
