@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;700&display=swap");

.flex:hover .copy-btn {
  display: flex !important;
}

input::placeholder {
  color: rgb(50, 50, 50);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161519;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  height: 10px !important;
  background: #7c3aed;
}

.search::placeholder {
  color: rgb(255, 255, 255);
}

.search {
  color: rgb(255, 255, 255);
}

.newTitle::placeholder{
  color: rgb(204, 204, 204) !important;
}

* {
  font-family: "Montserrat";
  cursor: url(https://res.cloudinary.com/dfjelhshb/image/upload/v1684945102/llbhcbazkpufdaeuhjvq.png),
    default !important;
}

body{
  overflow-x: hidden;
}
