<form
  class="h-full w-full p-6 flex flex-col gap-6"
  (ngSubmit)="onSubmit()"
  [formGroup]="loginForm"
>
  <p class="text-6xl text-center text-white/80">Login</p>
  <input
    type="text"
    placeholder="email"
    class="w-full text-lg outline-none p-6 bg-white/80 rounded-md"
    formControlName="email"
  />
  <input
    type="password"
    placeholder="password"
    class="w-full text-lg outline-none p-6 bg-white/80 rounded-md"
    formControlName="password"
  />
  <button
    type="submit"
    class="py-2 px-4 mt-6 bg-cyan-600 text-white duration-200 rounded-md cursor-pointer"
  >
    Login
  </button>
  <div
    *ngIf="isError"
    class="fixed top-0 bottom-0 right-0 left-0 m-auto flex flex-col items-center justify-center backdrop-brightness-[25%]"
  >
    <img src="https://media.tenor.com/7GAiCuX3YiYAAAAC/minions.gif" class="rounded-md mt-4"/>
    <p class="text-[3vw] text-white px-6 py-3 bg-red-500 rounded-md mt-6">
      INVALID CREDENTIALS
    </p>
  </div>
</form>
